html{
    width: 300px;
    
}

button {
          height: 30px;
          width: 30px;
          outline: none;
        }
        
body {
    background-color: #f7f7f9;
}

h1 {
    color: #040751;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
}

#dial{
    width: 75px;
    height: 75px;
    float: left;
}

p{
    align-content: space-around;
    font-family: sans-serif;
    font-size: 16pt;
    text-align: center;
}

#top{
    background-color:#d3eaff;
    height: 50px;
}

div{
    background-color: #d3eaff;
    height: 100px;
}

#risk{
    padding-top: 15px;
    padding-bottom: 15px;
}